li{
    list-style: none;
    
}
.container{
    background-color: #ffffff;
    width: 100%;
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #f4f4f4;
    height: 50px;
}
.edit{
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    font-size: medium;
    -webkit-box-shadow: -3px 0px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 0px 5px -1px rgba(0,0,0,0.75);
    box-shadow: -3px 0px 5px -1px rgba(0,0,0,0.75);
}
.save{
    background-color:#3ebf7f ;
    padding: 5px;
    color: white;
    border-radius: 5px;
    font-size: small;
    -webkit-box-shadow: -3px 0px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 0px 5px -1px rgba(0,0,0,0.75);
    box-shadow: -3px 0px 5px -1px rgba(0,0,0,0.75);
}
.check{
    background-color: transparent;
    border: 1px solid grey;
    width: 28px;
    height: 30px;
    border-radius: 8%;
}
.check-completed{
    background-color: rgb(116, 241, 151);
    width: 28px;
    height: 30px;
    border-radius: 8%;
}
.strick {
    text-decoration: line-through;
    
}
.editInput{
    width:100px !important;
}